/*
! tailwindcss v3.2.4 | MIT License | https://tailwindcss.com
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
*/

html {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font family by default.
2. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden] {
  display: none;
}

*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}

.invisible {
  visibility: hidden;
}

.fixed {
  position: fixed;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.top-0 {
  top: 0px;
}

.right-5 {
  right: 1.25rem;
}

.right-0 {
  right: 0px;
}

.top-3 {
  top: 0.75rem;
}

.top-6 {
  top: 1.5rem;
}

.z-10 {
  z-index: 10;
}

.z-50 {
  z-index: 50;
}

.my-5 {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.mr-2 {
  margin-right: 0.5rem;
}

.mt-\[7px\] {
  margin-top: 7px;
}

.mt-\[30px\] {
  margin-top: 30px;
}

.mr-5 {
  margin-right: 1.25rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mt-\[70px\] {
  margin-top: 70px;
}

.ml-6 {
  margin-left: 1.5rem;
}

.mt-5 {
  margin-top: 1.25rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mt-3 {
  margin-top: 0.75rem;
}

.mr-6 {
  margin-right: 1.5rem;
}

.mt-7 {
  margin-top: 1.75rem;
}

.mb-10 {
  margin-bottom: 2.5rem;
}

.ml-2 {
  margin-left: 0.5rem;
}

.mb-8 {
  margin-bottom: 2rem;
}

.mb-5 {
  margin-bottom: 1.25rem;
}

.mb-\[10px\] {
  margin-bottom: 10px;
}

.mb-6 {
  margin-bottom: 1.5rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mt-\[25px\] {
  margin-top: 25px;
}

.mr-\[25px\] {
  margin-right: 25px;
}

.mt-4 {
  margin-top: 1rem;
}

.block {
  display: block;
}

.flex {
  display: flex;
}

.hidden {
  display: none;
}

.h-\[40px\] {
  height: 40px;
}

.h-\[100vh\] {
  height: 100vh;
}

.h-5 {
  height: 1.25rem;
}

.h-\[8px\] {
  height: 8px;
}

.h-\[25px\] {
  height: 25px;
}

.h-\[50px\] {
  height: 50px;
}

.h-\[24px\] {
  height: 24px;
}

.h-full {
  height: 100%;
}

.h-\[70px\] {
  height: 70px;
}

.w-0 {
  width: 0px;
}

.w-\[10px\] {
  width: 10px;
}

.w-full {
  width: 100%;
}

.w-\[190px\] {
  width: 190px;
}

.w-5 {
  width: 1.25rem;
}

.w-\[13px\] {
  width: 13px;
}

.w-\[50px\] {
  width: 50px;
}

.w-\[32px\] {
  width: 32px;
}

.min-w-\[calc\(100\%-260px\)\] {
  min-width: calc(100% - 260px);
}

.min-w-\[75px\] {
  min-width: 75px;
}

.max-w-\[500px\] {
  max-width: 500px;
}

.rotate-180 {
  --tw-rotate: 180deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.cursor-pointer {
  cursor: pointer;
}

.flex-col {
  flex-direction: column;
}

.items-start {
  align-items: flex-start;
}

.items-center {
  align-items: center;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.border-\[2px\] {
  border-width: 2px;
}

.border-b {
  border-bottom-width: 1px;
}

.border-\[\#577db8\] {
  --tw-border-opacity: 1;
  border-color: rgb(87 125 184 / var(--tw-border-opacity));
}

.border-b-\[\#577db8\] {
  --tw-border-opacity: 1;
  border-bottom-color: rgb(87 125 184 / var(--tw-border-opacity));
}

.bg-\[\#dee4e7\] {
  --tw-bg-opacity: 1;
  background-color: rgb(222 228 231 / var(--tw-bg-opacity));
}

.bg-\[\#304d7c\] {
  --tw-bg-opacity: 1;
  background-color: rgb(48 77 124 / var(--tw-bg-opacity));
}

.bg-\[\#004BC1\] {
  --tw-bg-opacity: 1;
  background-color: rgb(0 75 193 / var(--tw-bg-opacity));
}

.bg-\[\#273043\] {
  --tw-bg-opacity: 1;
  background-color: rgb(39 48 67 / var(--tw-bg-opacity));
}

.bg-\[\#ffe358\] {
  --tw-bg-opacity: 1;
  background-color: rgb(255 227 88 / var(--tw-bg-opacity));
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.p-5 {
  padding: 1.25rem;
}

.py-\[25px\] {
  padding-top: 25px;
  padding-bottom: 25px;
}

.px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.py-\[13px\] {
  padding-top: 13px;
  padding-bottom: 13px;
}

.pl-\[25px\] {
  padding-left: 25px;
}

.pt-\[19px\] {
  padding-top: 19px;
}

.pl-\[10px\] {
  padding-left: 10px;
}

.pt-\[9px\] {
  padding-top: 9px;
}

.pl-\[20px\] {
  padding-left: 20px;
}

.pr-\[25px\] {
  padding-right: 25px;
}

.pt-5 {
  padding-top: 1.25rem;
}

.pl-5 {
  padding-left: 1.25rem;
}

.pr-5 {
  padding-right: 1.25rem;
}

.pb-\[50px\] {
  padding-bottom: 50px;
}

.pr-6 {
  padding-right: 1.5rem;
}

.pt-1 {
  padding-top: 0.25rem;
}

.pr-1 {
  padding-right: 0.25rem;
}

.pl-\[28px\] {
  padding-left: 28px;
}

.text-center {
  text-align: center;
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.text-\[125\%\] {
  font-size: 125%;
}

.text-\[85\%\] {
  font-size: 85%;
}

.text-\[135\%\] {
  font-size: 135%;
}

.text-\[16px\] {
  font-size: 16px;
}

.text-\[112\.5\%\] {
  font-size: 112.5%;
}

.text-\[120\%\] {
  font-size: 120%;
}

.text-\[89\%\] {
  font-size: 89%;
}

.font-normal {
  font-weight: 400;
}

.font-medium {
  font-weight: 500;
}

.leading-\[1\] {
  line-height: 1;
}

.leading-\[30px\] {
  line-height: 30px;
}

.leading-5 {
  line-height: 1.25rem;
}

.leading-6 {
  line-height: 1.5rem;
}

.text-\[\#aab3c6\] {
  --tw-text-opacity: 1;
  color: rgb(170 179 198 / var(--tw-text-opacity));
}

.text-\[\#1d1d1b\] {
  --tw-text-opacity: 1;
  color: rgb(29 29 27 / var(--tw-text-opacity));
}

.text-\[\#004BC1\] {
  --tw-text-opacity: 1;
  color: rgb(0 75 193 / var(--tw-text-opacity));
}

.text-\[\#2d5ca6\] {
  --tw-text-opacity: 1;
  color: rgb(45 92 166 / var(--tw-text-opacity));
}

.text-\[\#2A2F33\] {
  --tw-text-opacity: 1;
  color: rgb(42 47 51 / var(--tw-text-opacity));
}

.text-\[\#6D727C\] {
  --tw-text-opacity: 1;
  color: rgb(109 114 124 / var(--tw-text-opacity));
}

.text-\[\#6d727c\] {
  --tw-text-opacity: 1;
  color: rgb(109 114 124 / var(--tw-text-opacity));
}

.text-\[\#004bc1\] {
  --tw-text-opacity: 1;
  color: rgb(0 75 193 / var(--tw-text-opacity));
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.opacity-50 {
  opacity: 0.5;
}

.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

/* font-family: "RobotoRegular"; */

@font-face {
  font-family: "proba_pro_regular";

  src: url("fonts/ProbaPro-Regular.woff2") format("WOFF2"),
    url("fonts/ProbaPro-Regular.woff") format("WOFF"),
    url("fonts/ProbaPro-Regular.svg") format("SVG");

  font-weight: normal;

  font-style: normal;
}

@font-face {
  font-family: "proba_pro_bold";

  src: url("fonts/ProbaPro-Bold.woff2") format("WOFF2"),
    url("fonts/ProbaPro-Bold.woff") format("WOFF"),
    url("fonts/ProbaPro-Bold.eot") format("EOT"),
    url("fonts/ProbaPro-Bold.svg") format("SVG");

  font-weight: normal;

  font-style: normal;
}

@font-face {
  font-family: "proba_pro_semi_bold";

  src: url("fonts/ProbaPro-SemiBold.woff2") format("WOFF2"),
    url("fonts/ProbaPro-SemiBold.woff") format("WOFF"),
    url("fonts/ProbaPro-SemiBold.eot") format("EOT"),
    url("fonts/ProbaPro-SemiBold.svg") format("SVG");

  font-weight: normal;

  font-style: normal;
}

body.lowvision {
  filter: grayscale(100%);
}

body.lowvision header,
body.lowvision .active-menu-link,
body.lowvision .fixed-submenu {
  background: #fff;
  color: black;
}

body.lowvision .search-block {
  background-color: #fff;
  border: 2px solid #000;
}

body.lowvision input,
body.lowvision .modal-inner,
body.lowvision select {
  background-color: #fff !important;
  border: 2px solid #000;
  color: #000;
}

body.lowvision .active-tab {
  background-color: #fff;
  border-radius: 0;
  border: 2px solid #000;
}

body.lowvision .tab span {
  border: none;
}

body.lowvision .wrapper {
  border: 2px solid #000;
}

.regular {
  font-family: "proba_pro_regular";
}

.bold {
  font-family: "proba_pro_bold";
}

.semi-bold {
  font-family: "proba_pro_semi_bold";
}

.wrapper {
  box-shadow: 0 1px 8px 0 rgb(0 0 0 / 20%);
  width: 100%;
  max-width: 1220px;
  margin: auto;
}

.header {
  background: radial-gradient(425.02px at 50% 50%, #104d82 0%, #234161 100%);
  color: #fff;
  min-height: 293px;
  position: relative;
}

.fa {
  width: 24px;
  height: 24px;
  opacity: 0.5;
  margin-right: 10px;
  min-width: 24px;
}

.link:hover .fa {
  opacity: 1;
}

.link {
  cursor: pointer;
}

.gerb-header {
  height: 60px;
  width: 60px;
  background-image: url("./img/gerb.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 16px;
}

.arrow {
  width: 15px;
  height: 15px;
}

.open-submenu {
  cursor: pointer;
}

.social {
  width: 25px;
  height: 15px;
  opacity: 0.5;
  cursor: pointer;
}

.social:hover {
  opacity: 1;
}

.menu li a:hover {
  color: #ffe358;
}

.menu li a {
  cursor: pointer;
}

.submenu {
  margin-top: 40px;
  margin-bottom: 15px;
}

.submenu li {
  margin-right: 50px;
}

.search:hover img {
  opacity: 1;
}

.footer {
  background: #fff;
  padding: 20px 30px;
  padding-bottom: 45px;
  border-top: 4px solid #2d5ca6;
}

.gerb-footer {
  max-width: 50px;
  width: 40px;
  margin-left: -8px;
  margin-right: 25px;
  height: 44px;
  background-image: url("./img/gerb.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.tab {
  cursor: pointer;
  border-radius: 0;
  padding: 0 19px;
}

.tab span {
  border-bottom: 1px dashed;
}

.tab:hover span {
  border-bottom: 1px solid;
}

.active-tab {
  cursor: pointer;
  background-color: #2d5ca6;
  padding: 10px 19px;
  border-radius: 20px;
  border: none;
}

.active-tab span {
  border-bottom: none;
}

.active-tab:hover span {
  border-bottom: none;
}

.has-submenu {
  padding: 20px 15px;
}

.active-menu-link {
  color: #ffe358;
  background-color: #273043;
}

.search-input {
  height: 50px;
  background-color: #5b6a7d;
  width: 100%;
  padding: 15px;
}

.search-input:focus {
  outline: none;
  outline: 2px dotted #6f777b;
  outline-offset: 3px;
}

.label {
  margin-bottom: 9px;
  font-weight: 600;
  font-family: "proba_pro_semi_bold";
}

.fixed-submenu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #273043;
  padding: 20px;
  z-index: 10;
  font-size: 92%;
}

.fixed-submenu li {
  padding: 19px 0;
}

.fixed-submenu li:hover {
  color: #ffe358;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.modal-inner {
  background-color: #31486c;
  color: #fff;
  position: absolute;
  top: 80px;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  max-width: 600px;
  height: 240px;
  padding-top: 35px;
  padding-left: 50px;
}

.modal {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal ul li {
  margin: 12px 0;
}

.modal ul li a:hover {
  text-decoration: underline;
}

.modal i {
  font-size: 30px !important;
}

.mobile-menu ul {
  padding: 30px 25px;
  padding-bottom: 20px;
}

.mobile-menu li {
  padding: 13px 0;
}

.mobile-menu li a {
  color: #fff;
  font-family: "proba_pro_semi_bold";
}

.mobile-menu li a:hover {
  color: #ffe358;
}

.socials i {
  font-size: 14px;
  margin-right: 0 !important;
  cursor: pointer;
}

.socials i:hover {
  opacity: 1;
}

.mobile-sublement {
  position: fixed;
  top: 70px;
  left: 0;
  background-color: #304d7c;
  z-index: 11;
  width: 100%;
  height: 100%;
}

.close-current {
  color: #fff;
  position: absolute;
  top: -43px;
  left: 20px;
  cursor: pointer;
}

.close-current span {
  font-family: "proba_pro_bold";
}

.close-current i {
  opacity: 1 !important;
  margin-right: -8px !important;
}

/* media-queries */

@media screen and (max-width: 991px) {
  .gerb-footer {
    margin: auto;
  }

  .search-input {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 1200px) {
  .label {
    margin-top: 10px;
  }
}

.hr {
  width: 100%;
  height: 1px;
  background-color: #e0e0e0;
  margin-top: 15px;
  margin-bottom: 15px;
}

.before\:absolute::before {
  content: var(--tw-content);
  position: absolute;
}

.before\:left-0::before {
  content: var(--tw-content);
  left: 0px;
}

.before\:bottom-0::before {
  content: var(--tw-content);
  bottom: 0px;
}

.before\:h-\[20px\]::before {
  content: var(--tw-content);
  height: 20px;
}

.before\:w-full::before {
  content: var(--tw-content);
  width: 100%;
}

.before\:bg-\[\#ffe358\]::before {
  content: var(--tw-content);
  --tw-bg-opacity: 1;
  background-color: rgb(255 227 88 / var(--tw-bg-opacity));
}

.before\:content-\[\'\'\]::before {
  --tw-content: '';
  content: var(--tw-content);
}

.hover\:bg-\[\#FFCE00\]:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(255 206 0 / var(--tw-bg-opacity));
}

.hover\:opacity-100:hover {
  opacity: 1;
}

@media (min-width: 480px) {
  .sm\:flex-row {
    flex-direction: row;
  }
}

@media (min-width: 768px) {
  .md\:my-0 {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .md\:ml-10 {
    margin-left: 2.5rem;
  }

  .md\:mt-0 {
    margin-top: 0px;
  }

  .md\:mb-0 {
    margin-bottom: 0px;
  }

  .md\:flex-row {
    flex-direction: row;
  }

  .md\:text-\[200\%\] {
    font-size: 200%;
  }

  .md\:leading-\[42px\] {
    line-height: 42px;
  }
}

@media (min-width: 991px) {
  .lg\:visible {
    visibility: visible;
  }

  .lg\:top-full {
    top: 100%;
  }

  .lg\:my-0 {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .lg\:ml-\[35px\] {
    margin-left: 35px;
  }

  .lg\:mb-6 {
    margin-bottom: 1.5rem;
  }

  .lg\:mb-0 {
    margin-bottom: 0px;
  }

  .lg\:mt-0 {
    margin-top: 0px;
  }

  .lg\:mb-4 {
    margin-bottom: 1rem;
  }

  .lg\:flex {
    display: flex;
  }

  .lg\:hidden {
    display: none;
  }

  .lg\:h-auto {
    height: auto;
  }

  .lg\:w-auto {
    width: auto;
  }

  .lg\:justify-start {
    justify-content: flex-start;
  }

  .lg\:pt-5 {
    padding-top: 1.25rem;
  }

  .lg\:pl-20 {
    padding-left: 5rem;
  }

  .lg\:text-left {
    text-align: left;
  }
}
