@tailwind base;
@tailwind components;
@tailwind utilities;

/* font-family: "RobotoRegular"; */
@font-face {
  font-family: "proba_pro_regular";
  src: url("fonts/ProbaPro-Regular.woff2") format("WOFF2"),
    url("fonts/ProbaPro-Regular.woff") format("WOFF"),
    url("fonts/ProbaPro-Regular.svg") format("SVG");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "proba_pro_bold";
  src: url("fonts/ProbaPro-Bold.woff2") format("WOFF2"),
    url("fonts/ProbaPro-Bold.woff") format("WOFF"),
    url("fonts/ProbaPro-Bold.eot") format("EOT"),
    url("fonts/ProbaPro-Bold.svg") format("SVG");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "proba_pro_semi_bold";
  src: url("fonts/ProbaPro-SemiBold.woff2") format("WOFF2"),
    url("fonts/ProbaPro-SemiBold.woff") format("WOFF"),
    url("fonts/ProbaPro-SemiBold.eot") format("EOT"),
    url("fonts/ProbaPro-SemiBold.svg") format("SVG");
  font-weight: normal;
  font-style: normal;
}

body.lowvision {
  filter: grayscale(100%);
}

body.lowvision header,
body.lowvision .active-menu-link,
body.lowvision .fixed-submenu {
  background: #fff;
  color: black;
}

body.lowvision .search-block {
  background-color: #fff;
  border: 2px solid #000;
}

body.lowvision input,
body.lowvision .modal-inner,
body.lowvision select {
  background-color: #fff !important;
  border: 2px solid #000;
  color: #000;
}

body.lowvision .active-tab {
  background-color: #fff;
  border-radius: 0;
  border: 2px solid #000;
}

body.lowvision .tab span {
  border: none;
}

body.lowvision .wrapper {
  border: 2px solid #000;
}

.regular {
  font-family: "proba_pro_regular";
}

.bold {
  font-family: "proba_pro_bold";
}

.semi-bold {
  font-family: "proba_pro_semi_bold";
}

.wrapper {
  box-shadow: 0 1px 8px 0 rgb(0 0 0 / 20%);
  width: 100%;
  max-width: 1220px;
  margin: auto;
}

.header {
  background: radial-gradient(425.02px at 50% 50%, #104d82 0%, #234161 100%);
  color: #fff;
  min-height: 293px;
  position: relative;
}

.fa {
  width: 24px;
  height: 24px;
  opacity: 0.5;
  margin-right: 10px;
  min-width: 24px;
}

.link:hover .fa {
  opacity: 1;
}

.link {
  cursor: pointer;
}

.gerb-header {
  height: 60px;
  width: 60px;
  background-image: url("./img/gerb.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 16px;
}

.arrow {
  width: 15px;
  height: 15px;
}

.open-submenu {
  cursor: pointer;
}

.social {
  width: 25px;
  height: 15px;
  opacity: 0.5;
  cursor: pointer;
}

.social:hover {
  opacity: 1;
}

.menu li a:hover {
  color: #ffe358;
}

.menu li a {
  cursor: pointer;
}

.submenu {
  margin-top: 40px;
  margin-bottom: 15px;
}

.submenu li {
  margin-right: 50px;
}

.search:hover img {
  opacity: 1;
}

.footer {
  background: #fff;
  padding: 20px 30px;
  padding-bottom: 45px;
  border-top: 4px solid #2d5ca6;
}

.gerb-footer {
  max-width: 50px;
  width: 40px;
  margin-left: -8px;
  margin-right: 25px;
  height: 44px;
  background-image: url("./img/gerb.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.tab {
  cursor: pointer;
  border-radius: 0;
  padding: 0 19px;
}

.tab span {
  border-bottom: 1px dashed;
}

.tab:hover span {
  border-bottom: 1px solid;
}

.active-tab {
  cursor: pointer;
  background-color: #2d5ca6;
  padding: 10px 19px;
  border-radius: 20px;
  border: none;
}

.active-tab span {
  border-bottom: none;
}

.active-tab:hover span {
  border-bottom: none;
}

.has-submenu {
  padding: 20px 15px;
}

.active-menu-link {
  color: #ffe358;
  background-color: #273043;
}

.search-input {
  height: 50px;
  background-color: #5b6a7d;
  width: 100%;
  padding: 15px;
}

.search-input:focus {
  outline: none;
  outline: 2px dotted #6f777b;
  outline-offset: 3px;
}

.label {
  margin-bottom: 9px;
  font-weight: 600;
  font-family: "proba_pro_semi_bold";
}

.fixed-submenu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #273043;
  padding: 20px;
  z-index: 10;
  font-size: 92%;
}

.fixed-submenu li {
  padding: 19px 0;
}
.fixed-submenu li:hover {
  color: #ffe358;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.modal-inner {
  background-color: #31486c;
  color: #fff;
  position: absolute;
  top: 80px;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  max-width: 600px;
  height: 240px;
  padding-top: 35px;
  padding-left: 50px;
}

.modal {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal ul li {
  margin: 12px 0;
}

.modal ul li a:hover {
  text-decoration: underline;
}

.modal i {
  font-size: 30px !important;
}

.mobile-menu ul {
  padding: 30px 25px;
  padding-bottom: 20px;
}

.mobile-menu li {
  padding: 13px 0;
}

.mobile-menu li a {
  color: #fff;
  font-family: "proba_pro_semi_bold";
}

.mobile-menu li a:hover {
  color: #ffe358;
}

.socials i {
  font-size: 14px;
  margin-right: 0 !important;
  cursor: pointer;
}

.socials i:hover {
  opacity: 1;
}

.mobile-sublement {
  position: fixed;
  top: 70px;
  left: 0;
  background-color: #304d7c;
  z-index: 11;
  width: 100%;
  height: 100%;
}

.close-current {
  color: #fff;
  position: absolute;
  top: -43px;
  left: 20px;
  cursor: pointer;
}

.close-current span {
  font-family: "proba_pro_bold";
}

.close-current i {
  opacity: 1 !important;
  margin-right: -8px !important;
}

/* media-queries */
@media screen and (max-width: 991px) {
  .gerb-footer {
    margin: auto;
  }
  .search-input {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 1200px) {
  .label {
    margin-top: 10px;
  }
}

.hr {
  width: 100%;
  height: 1px;
  background-color: #e0e0e0;
  margin-top: 15px;
  margin-bottom: 15px;
}
